.container{
    margin: 0 auto;
    max-width: 80rem;
}

. div{
    background-color: var(--mint-green);
    color: var();
    box-shadow: 0 0 1rem var();
    padding: 3 rem;
    margin: 3rem 5rem;
    border-radius: 2rem;
}

. {
    font-weight: bolder;
    font-size: 4rem;
    color: var()
    text-align: center;
    margin-botton: 2rem;
}

.text {
    font-size: 2rem;
}