  :root {
  --black: #000000ff;
  --charcoal: #2d1e2fff;
  --dusty-rose: #c89fa3ff;
  --blush-pink: #f3d1dcff;
  --ghost-white: #fdf6f9ff;

   --primary: #d98699;             
  --primary-light: #f7c6ce;       
  --primary-dark:#d98699;        
  --primary-muted: #ddb2b7;       
  --primary-contrast-light: #ffffff;
  --primary-contrast-dark: #1a1a1a;

  /* Nova paleta rosa */
  /* --primary: #e07a8b;             
  --primary-light: #f7c6ce;       
  --primary-dark: #a04a5a;        
  --primary-muted: #ddb2b7;       
  --primary-contrast-light: #ffffff;
  --primary-contrast-dark: #1a1a1a; */

  /* Tons de branco rosado */
   --gray-50: #fff6f7;   
  --gray-100: #ffe9ed;
  --gray-200: #fdd6de;
  --gray-300: #f5bfc9;
  --gray-400: #eaa4b0;
  --gray-500: #d98699;
  --gray-600: #bb6b7d;
  --gray-700: #9a4e60;
  --gray-800: #783643;
  --gray-900: #572630;



/* :root {
    --mint-green: #ddfff7ff;
    --mimi-pink: #ffd2fcff;
    --violet-web-color: #e980fcff;
    --french-mauve: #b96ac9ff;
    --licorice: #231b1bff;
} */