.header1 {
  grid-area: header1;
  background-color: #da2f8a;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.header1 h1 {
  display: flex;
  font-weight: bolder;
  font-size: 5rem;
  color:#f48fb1;
  text-align: center;
  align-items: center;
  margin-left: 40px;
  @media (max-width: 768px) {
    font-size: 5rem;
  }
}
.header1 svg {
  width: 6rem;
  height: 6rem;
  font-size: 6rem;
  object-fit: cover;
  border-radius: 1rem;
  color: #f8bbd0;
  @media (max-width: 768px) {
    width: 12rem;
    height: 12rem;
    font-size: 12rem;
    display: flex;
  }
}