.container {
  display: grid;
  grid-template-columns: 30rem auto 30rem;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";

  grid-template-rows: 10rem auto 5rem;
  height: 100vh;

  @media (max-width: 1200px) {
    grid-template-areas:
      "header"
      "main"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows: 10rem auto 5rem;
  }
}

.header {
  grid-area: header;
  background-color: #00043f;
  font-size: large;
  text-align: center;
}

.header h1 {
  color:  #0b36c2; 
}

.footer {
  grid-area: footer;
  background-color: #ffffff;
  
}


.grid {
  /* height: 100vh; */
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content);
  gap: 3rem;

  /* justify-content: center; */
  /* align-content: center; */
}

.card {
  background-color: var(--primary-dark);
  border-radius: 1rem;
  color: var(--primary-contrast-light);
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 1.75rem;
  text-align: center;
  height: 20rem;
}